# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
/backend/mhr02lib
__pycache__/
*.pyc
*.pyo
*.pyd
/backend/static/mesurement
/backend/static/irt_image